<app-cart></app-cart>
<app-breadcrumb></app-breadcrumb>



<div class="page">
  <div class="product-cards">
    <div
      class="product-card"
      *ngFor="let item of products"
      (click)="viewProduct(item)"
    >
      <div class="image-wrapper">
        <img
          [src]="item.defaultImage"
          (mouseenter)="swapImage($event, item.hoverImage)"
          (mouseleave)="resetImage($event, item.defaultImage)"
          alt="{{ item.name }}"
        />
      </div>

      <div class="card-body">
        <h3 class="product-name">{{ item.name }}</h3>
        <p class="product-price">Rs {{ item.price | number }}</p>

        <button
          class="cart-btn"
          (click)="addToCart(item); $event.stopPropagation()"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </div>
  </div>
</div>
