.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #FE7743;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.breadcrumb a {
  text-decoration: none;
  color: #FE7743;
  font-weight: 500;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .arrow {
  font-size: 38px; /* bigger arrow */
  color: #FE7743;
  line-height: 1;
}

.breadcrumb .active {
  color: #FE7743;
  font-weight: 600;
}
